<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/preloader.css" />
    <link rel="stylesheet" href="css/sidebar.css" />
    <link rel="stylesheet" href="css/users.css" />
    <link rel="stylesheet" href="css/serverMessages.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title></title>
  </head>

  <body id="body-pd">

   <div class="preloader">
      <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>

        <div class="indicator">
          <svg width="16px" height="12px">
            <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
            <polyline
              id="front"
              points="1 6 4 6 6 11 10 1 12 6 15 6"
            ></polyline>
          </svg>
        </div>
      </div>
    </div>
    <header class="header" id="header">
      <div class="header_toggle">
        <i class="bx bx-menu" id="header-toggle"></i>
      </div>
      <div class="header_img">
      <!--<img src="https://i.imgur.com/LQTcMZr.png" alt="" /> -->  
      </div>
    </header>
    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <div>
          <a href="#" class="nav_logo">
            <i class="bx bx-layer nav_logo-icon"></i>
            <span class="nav_name">Lombard Inside</span>
          </a>
          <div class="nav_list">
            <a href="/ui" class="nav_link">
              <i class="bx bx-grid-alt nav_icon"></i>
              <span class="nav_name">Дэш</span>
            </a>
            <% payload = JSON.parse(payload)%>
            <%    if (payload.roles == "ADMIN") {%>
              <a href="/delivery" class="nav_link">
                <i class="bx bx-package nav_icon"></i>
                <span class="nav_name">Доставка</span>
              </a>
              <a href="#" class="nav_link active">
                <i class="bx bx-user nav_icon"></i>
                <span class="nav_name">Пользователи</span>
              </a>
              <%  }else if (payload.roles == "DELIVERY"){%>
                <a href="/delivery" class="nav_link">
                  <i class="bx bx-package nav_icon"></i>
                  <span class="nav_name">Доставка</span>
                </a>
                <%}%>
            <a href="#" class="nav_link">
              <i class="bx bx-line-chart nav_icon"></i>
              <span class="nav_name">Статистика</span>
            </a>
            <a href="#" class="nav_link">
              <i class="bx bx-printer nav_icon"></i>
              <span class="nav_name">Распечатать</span>
            </a>
            <a href="#" class="nav_link">
              <i class="bx bx-cog nav_icon"></i>
              <span class="nav_name">Настройки</span>
            </a>
          </div>
        </div>
        <a href="/logout" class="nav_link">
          <i class="bx bx-log-out nav_icon"></i>
          <span class="nav_name">Выйти</span>
        </a>
      </nav>
    </div>
    <!--Container Main start-->
    <div class="headerbugFix"></div>




    <%if (typeof(message) == "undefined") {%>
      <%} else {%>
        <%= message.intro %>
      <div class="issueDetector"></div>
      <div class="toast-server">
        <div class="toast-server-content">
          <i
            class="fas fa-solid fa-<%=message.iconStyle %> <%= message.type %>"
          ></i>
          <div class="message">
            <span class="text text-1"><%= message.intro %></span>
            <span class="text text-2"><%= message.message %></span>
          </div>
        </div>
        <i class="fa-solid fa-xmark close"></i>
        <div class="progress"></div>
      </div>
      
      <%}%>






    <div id="content-wrapper position-static" class="content-wrapper">
      <div class=" hstack gap-2">
        <h2>Пул пользователей</h2> 
        <div class="vr"></div>
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createUser"><i class='bx bx-user-plus' ></i> Добавить</button>
      </div>
      
      <div class="border-top my-3"></div>
      <div class="row  row-cols-md-5 g-4">
        <% for(var i = 0; i < AllUsers.length; i++) { %>
        <div class="col card-col" id="user-<%= AllUsers[i].id%>">
          <!-- user card -->
          <div class="card ">
            <div class="card-body">
              <h5 class="card-title">
                <%= AllUsers[i].surname + " " + AllUsers[i].name + " " +
                AllUsers[i].patronymic%>
              </h5>
              <p class="card-text">
                <div class="form-floating">
                  <div readonly class="form-control-plaintext" id="floatingPlaintextInput" ><%= AllUsers[i].username%></div> 
                  <label for="floatingPlaintextInput">Логин</label>
                </div>
                <div class="form-floating">
                  <div readonly class="form-control-plaintext" id="floatingPlaintextInput" >BCRYPT HASH</div> 
                  <label for="floatingPlaintextInput">Пароль</label>
                </div>
                <div class="form-floating">
                  <div readonly class="form-control-plaintext" id="floatingPlaintextInput" >
  <% if (AllUsers[i].roles == "ADMIN") { %>
  <%=  userPosition = "Администратор"%>
  <% } else if (AllUsers[i].roles == "DELIVERY") { %>
    <%=  userPosition = "Доставка"%>
    <% } else if (AllUsers[i].roles == "USER") { %>
      <%=  userPosition = "Консультант"%>
  <% } else { %>
  <%=  userPosition = "ХЗ"%>    
  <% } %>
</div> 
                  <label for="floatingPlaintextInput">Должность</label>
                </div>
                <div class="form-floating">
                  <div readonly class="form-control-plaintext" id="floatingPlaintextInput" ><%= AllUsers[i].id%></div> 
                  <label for="floatingPlaintextInput">Идентификатор</label>
                </div>
              </p>
            </div>

          <!-- user state controls -->
            <div class="card-footer">
              <div class=" hstack gap-2">
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#edit-<%=AllUsers[i]._id%>">
                  <i class='bx bx-edit-alt'></i> Редактировать
                </button>
                <div class="vr"></div>
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-<%=AllUsers[i]._id%>">
                  <i class='bx bx-trash' ></i> Удалить
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- user state modal -->
        <div class="modal fade" id="edit-<%=AllUsers[i]._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <form class=""          
          action="/editUser/<%=AllUsers[i]._id%>?_method=PUT"
          method="post"
          name="form">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Редактирование </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">@</span>
                  <input type="text" name="username" class="form-control" aria-label="Username" placeholder="<%=AllUsers[i].username%>" value="<%=AllUsers[i].username%>" required>
                </div>
                <div class="input-group mb-3">
                  <div class="form-floating">
                    <input type="text" name="surname" class="form-control" id="floatingInputGrid" placeholder="<%=AllUsers[i].surname%>" value="<%=AllUsers[i].surname%>" required>
                    <label for="floatingInputGrid">Фамилия</label>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="form-floating">
                    <input type="text" name="name" class="form-control" id="floatingInputGrid" placeholder="<%=AllUsers[i].name%>" value="<%=AllUsers[i].name%>" required>
                    <label for="floatingInputGrid">Имя</label>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="form-floating">
                    <input type="text" name="patronymic" class="form-control" id="floatingInputGrid" placeholder="<%=AllUsers[i].patronymic%>" value="<%=AllUsers[i].patronymic%>" required>
                    <label for="floatingInputGrid">Отчество</label>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingInputGrid" required>
                    <label for="floatingInputGrid">Пароль</label>
                  </div>
                </div>
                <div class="input-group mb-3">
               
               <!-- ПЕРЕВЕСТИ НА SWITCH/CASE -->
               
                  <select name="userRole" class="form-select" aria-label="Disabled select example">

                    <% if (AllUsers[i].roles == "ADMIN") { %>
                      <option selected value="ADMIN">Администратор</option>
                      <option value="USER">Консультант</option>
                      <option value="DELIVERY">Доставка</option>
                      <% } else if (AllUsers[i].roles == "DELIVERY") { %>
                        <option value="ADMIN">Администратор</option>
                        <option value="USER">Консультант</option>
                        <option selected value="DELIVERY">Доставка</option>
                      <% } else if (AllUsers[i].roles == "USER") { %>
                        <option value="ADMIN">Администратор</option>
                        <option selected value="USER">Консультант</option>
                        <option value="DELIVERY">Доставка</option>
                      <% } else { %>
                      <%  let userPosition = "UNSTATED"%>    
                      <% } %>
                </select>
                </div>


                <div class="input-group mb-3">
                  <div class="form-floating">
                    <input type="patronymic" class="form-control" id="floatingInputGrid" placeholder="<%=AllUsers[i].id%>" value="<%=AllUsers[i].id%>" disabled>
                    <label for="floatingInputGrid">Идентификатор</label>
                  </div>
                </div>     
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-success">Сохранить</button>
              </div>
            </div>
          </div>
        </form>
        </div>
        <div class="modal fade" id="delete-<%=AllUsers[i]._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Уведомление </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Удалить пользователя <%= AllUsers[i].surname + " " + AllUsers[i].name + " " +
                AllUsers[i].patronymic%>?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <a href="deleteUser/<%= AllUsers[i]._id%>"><button type="button" class="btn btn-danger">Удалить</button></a>
              </div>
            </div>
          </div>
        </div>
        <% } %>

        <div class="modal fade" id="createUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <form class=""          
          action="/users"
          method="post"
          name="form">
         
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Новый пользователь </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">@</span>
                  <input type="text" autocomplete="off" name="username" class="form-control" aria-label="Username" placeholder="Логин" value="" required>
                </div>                
                <div class="form-floating mb-3">
                  <input type="text" autocomplete="off" name="surname" class="form-control" id="floatingInput" placeholder="Фамилия" required>
                  <label for="floatingInput">Фамилия</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" autocomplete="off" name="name" class="form-control" id="floatingInput" placeholder="Имя" required>
                  <label for="floatingInput">Имя</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" autocomplete="off" name="patronymic" class="form-control" id="floatingInput" placeholder="Отчество" required>
                  <label for="floatingInput">Отчество</label>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">!</span>
                  <input type="password" autocomplete="off" name="password" class="form-control" aria-label="Username" placeholder="Пароль" value="" required>
                </div>
                <select class="form-select" name="userRole" id="validationDefault04" required>
                  <option selected disabled value="">Должность...</option>
                  <option value="ADMIN">Администратор</option>
                  <option value="DELIVERY">Доставка</option>
                  <option value="USER">Консультант</option>
                </select>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-outline-success">Сохранить</button></a>
              </div>
            </div>
          </div>
        </form> 
        </div>
      </div>
    </div>
    <script src="js/serverMessages.js"></script>
    <script src="js/preloader.js"></script>
    <script src="js/sidebar.js"></script>
    <script src="js/users.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
